@inherits LayoutComponentBase
@layout AccountLayout


<h1 id="M">Manage your account</h1>
<ManageNavMenu />
@* <body id="AccountBody"> *@
<div id="accountDiv">
    <hr />
    <div class="row1">
       
              @*  <div class="ownDiv"> *@
              
               @Body
              @*  </div> *@
    </div>
</div>
@* </body>
 *@