@inherits LayoutComponentBase
@layout AccountLayout


<h1 id="M">Manage your account</h1>
<ManageNavMenu />

<div id="accountDiv">
    
        <img id="imgacc" src="/Image/frilagd.png" />
   
    <div class="row1">
         @Body
    </div>

    <img id="imgacc" src="/Image/frilagd.png" />
</div>
