@page "/HelpSupport"
@using VVCyberAware.Components.Account.Shared

@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@layout AccountLayout


<h3 id="H" class="text-white">Behöver du hjälp eller har du några frågor?</h3>
<p id="HelpText" class="text-white">Kontakta vår proffsiga support för hjälp dygnet runt.</p>

<div id="HelpDiv">

    <img id="imgacc" src="/Image/frilagd.png" />
    <div id="Help" class="text-white">
        <h1>Kontaktuppgifter</h1>
        <hr />
        <h3>albin.karlsson@gmail.com</h3>
    </div>

    <img id="imgacc" src="/Image/frilagd.png" />
</div>

@code {

}
