@page "/"
@* <img class="w-100" src="cyber.png" />
 *@<div class="container-fluid" style="background-color: blanchedalmond" >
    <div class="row justify-content-center align-items-center" style="height:  50vh;">
        <div class="col-md-6 text-center">
            <h1 class="display-4">Valhalla Vault</h1>
            <p class="lead">Strengthen your organization's cyber resilience with our expert-led training programs. Equip your team with the knowledge and skills to identify and respond to cyber threats effectively. Join us to transform your team into a proactive cybersecurity fortress.</p>
            <div class="mt-4">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>
