@page "/"
@layout Layout.NoLayout

<div>
     <div class="container-fluid transparent-box" >
        <div class="row justify-content-center align-items-center" style="height:  50vh;">
            <div class="col-md-6 text-center">
                <h1 class="display-4">Valhalla Vault</h1>
                <p class="lead">Strengthen your organization's cyber resilience with our expert-led training programs. Equip your team with the knowledge and skills to identify and respond to cyber threats effectively. Join us to transform your team into a proactive cybersecurity fortress.</p>
                <div class="mt-4">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Login">
							<span class="btn btn-success bi-person-badge-nav-menu" aria-hidden="true">Login</span>
						</NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Account/Register">
							<span class="btn btn-info bi-person-nav-menu" aria-hidden="true">Register</span>
						</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
