@using VVCyberAware.Components.Pages
@using VVCyberAware.Shared.Models.ApiModels
@using VVCyberAware.Shared.Models.DbModels
@using static VVCyberAware.Components.Pages.Home



@if(Category != null)
{
    <li class="list-group-item">

        <div class="d-flex justify-content-between align-items-center category-header" @onclick="(e) => ToggleInfo(Category.Id)">
            <h3 class="category-title not-selectable">@Category.Name (Procent avklarat %)</h3>
            <ion-icon class="arrow-icon" name="arrow-@(IsCategoryVisible(Category.Id) ? "up" : "down")"></ion-icon>
        </div>

        @if (IsCategoryVisible(Category.Id))
        {
            <div class="dropdown-content">
                <p class="category-text">@Category.Description</p>
                <ul class="list-group">
                    @foreach (var segment in Segments.Where(s=>s.CategoryId == Category.Id))
                    {
                        <CategorySegment Segment="@segment" />
                    }
                </ul>
            </div>
        }
    </li>
}

@code {
    [Parameter]
    public CategoryApiModel Category { get; set; }
    [Parameter]
    public List<SegmentApiModel> Segments { get; set; }
    [Parameter]
    public Action<int> ToggleInfo { get; set; }
    [Parameter]
    public Func<int, bool> IsCategoryVisible { get; set; }
}
